@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --w-sidebar-mobile: 300px;
  --w-sidebar-desktop: 257px;
}

@layer base {
  .sidebar-scrollbar {
    transition: all 0.3s ease-in-out;
    &::-webkit-scrollbar {
      @apply w-[10px] bg-transparent;
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded bg-gray-300;
    }
  }
}
